<div class="grid">
  <div class="col-12">
    <div class="flex justify-content-center align-content-center text-align-center">
      <!--Signin-->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card *ngIf="loginCard" styleClass="mt-10" header="Login" subheader="Acesse Login">
          <div class="fex justify-content-center align-content-center text-align-center">
            <input type="email" pInputText placeholder="Email" formControlName="email">
          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="password" pInputText placeholder="Senha" formControlName="password">
          </div>
          <div class="card flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Login" [disabled]="!this.loginForm.valid"></button>
          </div>
          <span style="cursor: pointer;" (click)="loginCard = !loginCard" class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold">
            Criar conta
          </span>
        </p-card>
      </form>
      <!--Signup-->
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUpForm()">
        <p-card *ngIf="!loginCard" styleClass="mt-10" header="Criar conta" subheader="Crie sua conta">
          <div class="fex justify-content-center align-content-center text-align-center">
            <input type="text" pInputText placeholder="Nome" formControlName="name">
          </div>
          <div class="fex justify-content-center align-content-center text-align-center mt-3">
            <input type="email" pInputText placeholder="Email" formControlName="email">
          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="password" pInputText placeholder="Senha" formControlName="password">
          </div>
          <div class="card flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Criar conta" [disabled]="!this.signUpForm.valid"></button>
          </div>
          <span style="cursor: pointer;" (click)="loginCard = !loginCard" class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold">
            Fazer login
          </span>
        </p-card>
      </form>
    </div>
  </div>
</div>
